@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 155, 155, 155;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 155, 155, 155;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container takes full viewport height */
  min-width: 100vh; /* Default minWidth for large screens */
}

.content {
  flex: 1; /* Allow content to take up remaining space vertically */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to align items at the top */
  width: 100%; /* Ensure content fills the width of the container */
  max-width: 960px; /* Adjust as needed */
  padding: 2rem; /* Adjust spacing as needed */
}

.containerCategories {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.padding {
  padding: 1rem;
}

.button {
  background-color: blue; /* Change as needed */
  color: white; /* Change as needed */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.outlined {
  background-color: transparent;
  border: 1px solid blue; /* Change as needed */
}

.contained:hover {
  background-color: darkblue; /* Change as needed */
}

.containerItemList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .containerItemList {
    grid-template-columns: 1fr; /* Display one column on phones */
  }
}

.empty-list {
  text-align: center;
}

.btn-primary {
  background-color: blue; /* Change as needed */
  color: white; /* Change as needed */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid blue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  max-width: 100%; /* Ensure the card takes up the full width */
}

@media (max-width: 768px) {
  .product-container {
    max-width: 30%; /* Adjust as needed for smaller screens */
  }
}

.product-image {
  height: 140px; /* Default height for small screens */
  width: auto;
}

.product-details {
  margin-top: 1rem;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  margin: 0;
}

.product-price {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

.add-to-cart {
  background-color: blue; /* Change as needed */
  color: white; /* Change as needed */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.add-to-cart:hover {
  background-color: darkblue; /* Change as needed */
}

.back-button {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  margin: 0 auto
}

.back-button button {
  border: 2px solid grey; /* Set border color */
  border-radius: 28px; /* Set border radius */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.containerSingleProduct {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 2rem; /* Add margins to the left and right */
  padding: 2rem; /* Add padding inside the container */
  margin: 0 auto
}

@media (max-width: 768px) {
  .containerSingleProduct {
    max-width: 40%;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
}

.image-container,
.product-details {
  width: 100%;
}

@media (min-width: 768px) {
  .product-info {
    flex-direction: row;
  }

  .image-container,
  .product-details {
    width: 50%;
  }
}

.containerSlider {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.image-containerSlider {
  position: relative;
  width: 100%;
}

.imageSlider {
  width: 100%;
  height: auto;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.arrow-left,
.arrow-right {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dots-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background-color: #000;
}
